{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "consistent-return": "warn",
    "import/prefer-default-export": "off",
    "no-unused-vars": "warn",
    "object-curly-newline": [
      "error", 
      {
        "ImportDeclaration": "never"
      }
    ],
    "semi": "off"
  }
}
