{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "consistent-return": "warn",
    "import/prefer-default-export": "off",
    "linebreak-style": "off",
    "no-param-reassign": "warn",
    "no-plusplus": "off",
    "no-unused-vars": "warn",
    "no-use-before-define": "off",
    "object-curly-newline": [
      "error", 
      { "ImportDeclaration": "never" }
    ]
  }
}
